<app-titulo [titulo]="titulo"></app-titulo>
<div class="d-flex justify-content-between">
  <div class="form-floating col-4">
    <input
      type="text"
      class="form-control mb-2"
      id="floatingInput"
      placeholder="buscar"
      [(ngModel)]="filtroLista"
    />
    <label for="floatingInput">Filtro: </label>
  </div>
  <div>
    <button class="btn btn-primary btn-lg" (click)="novoEvento(template)">
      <i class="fa fa-plus-circle"></i>&nbsp; Novo Evento
    </button>
  </div>
</div>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th [style.width.px]="imagemLargura">
        <button class="btn btn-sm btn-primary" (click)="alternarImagem()">
          <i class="{{ mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye' }}"></i>
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img
          *ngIf="mostrarImagem"
          src="http://localhost:5000/resources/images/{{ evento.imagemURL }}?_ts={{dataAtual}}"
          [style.width.px]="imagemLargura"
          [style.margin.px]="imagemMargem"
        />
      </td>
      <td>{{ evento.id }}</td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento}}</td>
      <td>{{ evento.quantidadePessoas }}</td>
      <td>
        <div *ngIf="!evento.lotes.length">NÃO INFORMADO</div>
        <div *ngIf="evento.lotes.length">
          {{ evento.lotes[0].nome | uppercase }}
        </div>
      </td>
      <td>
        <div class="btn-group">
          <button
            class="btn btn-sm btn-primary"
            tooltip="Editar"
            (click)="editarEvento(evento, template)"
          >
            <i class="fa fa-edit"></i>
          </button>
          <button
            class="btn btn-sm btn-danger"
            tooltip="Deletar"
            (click)="excluirEvento(evento, confirm)"
          >
            <i class="fa fa-eraser"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos">
    <tr>
      <td colspan="7" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>

<div
  bsModal
  #template="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">
          Large modal
        </h4>
        <button
          type="button"
          class="close pull-right"
          (click)="template.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm" autocomplete="off">
          <div class="row my-4">
            <div class="form-floating form-group col-sm-12">
              <input
                type="text"
                class="form-control"
                id="InputTema"
                placeholder="Tema"
                formControlName="tema"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('tema').errors &&
                    registerForm.get('tema')!.touched,
                  'is-valid':
                    !registerForm.get('tema').errors &&
                    registerForm.get('tema')!.touched
                }"
              />
              <div
                *ngIf="
                  registerForm.get('tema').hasError('required') &&
                  registerForm.get('tema')!.touched
                "
                class="invalid-feedback"
              >
                O tema é obrigatório.
              </div>
              <div
                *ngIf="
                  registerForm.get('tema').hasError('minlength') &&
                  registerForm.get('tema')!.touched
                "
                class="invalid-feedback"
              >
                O tema deve ter no minimo 4 caracteres.
              </div>
              <div
                *ngIf="
                  registerForm.get('tema').hasError('maxlength') &&
                  registerForm.get('tema')!.touched
                "
                class="invalid-feedback"
              >
                O tema deve ter no máximo 50 caracteres
              </div>

              <label class="mx-2" for="InputTema">Tema: </label>
            </div>
          </div>

          <div class="row my-4">
            <div class="form-floating form-group col-sm-12">
              <input
                type="text"
                class="form-control"
                id="InputLocal"
                placeholder="Local"
                formControlName="local"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('local').errors &&
                    registerForm.get('local')!.touched,
                  'is-valid':
                    !registerForm.get('local').errors &&
                    registerForm.get('local')!.touched
                }"
              />
              <div
                *ngIf="
                  registerForm.get('local').hasError('required') &&
                  registerForm.get('local')!.touched
                "
                class="invalid-feedback"
              >
                O local é obrigatório.
              </div>
              <label class="mx-2" for="InputLocal">Local: </label>
            </div>
          </div>
          <div class="row my-4">
            <div class="form-floating form-group col-sm-4">
              <input
                type="text"
                class="form-control"
                id="InputTelefone"
                placeholder="telefone"
                formControlName="telefone"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('telefone').errors &&
                    registerForm.get('telefone')!.touched,
                  'is-valid':
                    !registerForm.get('telefone').errors &&
                    registerForm.get('telefone')!.touched
                }"
              />
              <div
                *ngIf="
                  registerForm.get('telefone').hasError('required') &&
                  registerForm.get('telefone')!.touched
                "
                class="invalid-feedback"
              >
                O telefone é obrigatório.
              </div>
              <label class="mx-2" for="InputTelefone">Telefone: </label>
            </div>

            <div class="form-floating form-group col-sm-8">
              <input
                type="text"
                class="form-control"
                id="InputEmail"
                placeholder="email"
                formControlName="email"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('email').errors &&
                    registerForm.get('email')!.touched,
                  'is-valid':
                    !registerForm.get('email').errors &&
                    registerForm.get('email')!.touched
                }"
              />
              <div
                *ngIf="
                  registerForm.get('email').hasError('required') &&
                  registerForm.get('email')!.touched
                "
                class="invalid-feedback"
              >
                O email é obrigatório.
              </div>
              <div
                *ngIf="
                  registerForm.get('email').hasError('email') &&
                  registerForm.get('email')!.touched
                "
                class="invalid-feedback"
              >
                E-mail invalido.
              </div>
              <label class="mx-2" for="InputEmail">Email</label>
            </div>
          </div>
          
          <div class="row my-4">
            <div class="form-floating form-group col-sm-4">
              <input
                type="text"
                class="form-control"
                id="InputPessoas"
                placeholder="quantidade Pessoas"
                formControlName="quantidadePessoas"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('quantidadePessoas').errors &&
                    registerForm.get('quantidadePessoas')!.touched,
                  'is-valid':
                    !registerForm.get('quantidadePessoas').errors &&
                    registerForm.get('quantidadePessoas')!.touched
                }"
              />
              <div
                *ngIf="
                  registerForm.get('quantidadePessoas').hasError('required') &&
                  registerForm.get('quantidadePessoas')!.touched
                "
                class="invalid-feedback"
              >
                A quantidade pessoas é obrigatório.
              </div>
              <div
                *ngIf="
                  registerForm.get('quantidadePessoas').hasError('max') &&
                  registerForm.get('quantidadePessoas')!.touched
                "
                class="invalid-feedback"
              >
                A quantidade maxima de pessoas é 10.000.
              </div>
              <label class="mx-2" for="InputPessoas">Qtd Pessoas:</label>
            </div>
            <div class="form-floating form-group col-sm-5">
              <input
                type="text"
                class="form-control"
                bsDatepicker
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY hh:mm a' }"
                id="InputData"
                placeholder="Data"
                formControlName="dataEvento"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('dataEvento').errors &&
                    registerForm.get('dataEvento')!.touched,
                  'is-valid':
                    !registerForm.get('dataEvento').errors &&
                    registerForm.get('dataEvento')!.touched
                }"
              />
              <div
                *ngIf="
                  registerForm.get('dataEvento').hasError('required') &&
                  registerForm.get('dataEvento')!.touched
                "
                class="invalid-feedback"
              >
                A data e hora é obrigatório.
              </div>
              <label class="mx-2" for="InputLocal">Data e Hora: </label>
            </div>
            <div class="form-group col-sm-3">
              <table>
                <tr>
                  <td>
                    <button
                      class="btn btn-success btn-lg mt-1"
                      (click)="file.click()"
                    >
                      Enviar imagem
                    </button>
                    <input
                      type="file"
                      class="form-control"
                      #file
                      id="InputImagem"
                      placeholder="Imagem"
                      formControlName="imagemURL"
                      [ngClass]="{
                        'is-invalid':
                          registerForm.get('imagemURL').errors &&
                          registerForm.get('imagemURL')!.touched,
                        'is-valid':
                          !registerForm.get('imagemURL').errors &&
                          registerForm.get('imagemURL')!.touched
                      }"
                      (change)="onFileChange($event)"
                      style="display: none"
                    />
                  </td>
                </tr>
              </table>
              <div
                *ngIf="
                  registerForm.get('imagemURL').hasError('required') &&
                  registerForm.get('imagemURL')!.touched
                "
                class="invalid-feedback"
              >
                A imagem é obrigatório.
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="template.hide()">
          Fechar
        </button>
        <button
          class="btn btn-primary"
          [disabled]="!registerForm.valid"
          (click)="salvarAlteracao(template)"
        >
          Salvar Alterações
        </button>
      </div>
    </div>
  </div>
</div>

<div
  bsModal
  #confirm="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Deletando Evento</h4>
        <button
          type="button"
          class="close pull-right"
          (click)="confirm.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ bodyDeletarEvento }}</p>
      </div>
      <div class="modal-footer btn-group d-flex">
        <button type="button" class="btn btn-primary" (click)="confirm.hide()">
          CANCELAR
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="confirmeDelete(confirm)"
        >
          DELETAR
        </button>
      </div>
    </div>
  </div>
</div>
